@font-face {
    font-family: FoglihtenNo07;
    src: url(fonts/FoglihtenNo07.otf);
} 
  
div.heading {
    font-family: FoglihtenNo07.otf;
    margin: auto;
    }


                        }    
a {
    color: #F39417;
	text-decoration: overline;
}

a:hover {
    text-decoration: overline;
	color: purple;
	font-weight: bold;
}

div.menu {
    width: 80%;
    text-align: left;
}

div.footer {
    width:800px;
    margin: auto;
}
td {
    font-weight: bold;
}

.bevs
 {
   width:500px;
   margin: auto;
   background-color: rgb(58, 66, 82)

}
   
div.one {
    width:400px;
    margin: auto;
    border: 2px solid #000000;
    background-color: #A5A3A3
}

div.another {
    width:400px;
    height:100px;
    vertical-align: text-bottom;
    border: 2px solid #000000;
    background-color: #A5A3A3
}

.left carousel-control {
    vertical-align: text-bottom;
}