@font-face {
    font-family: FoglihtenNo07;
    src: url(fonts/FoglihtenNo07.otf);
} 
  
div.heading {
    font-family: FoglihtenNo07.otf ;
}

a {
    color: #F39417;
	text-decoration: overline;
}

a:hover {
    text-decoration: overline;
	color: purple;
	font-weight: bold;
}

div.menu {
    width: 80%;
    text-align: left;
}

div.footer {
    width:800px;
    margin: auto;
}

   
